/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 16px;
}

img {
  width: auto;
}

button {
  width: auto;
}

i {
  color: #fff;
}

/* NavBar */

nav {
  background-color: #1497ef;
  padding: 10px;
  width: 100%;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
}

nav:nth-child(1) {
  font-weight: 900;
  color: white;
}

nav .search {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 90%;
}

nav .input {
  padding: 10px;
  width: 50%;
  border: 0;
}

nav .search i {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: lightgray;
  color: black;
  border: 0;
}

.item-count {
  position: absolute;
  right: -27%;
  top: -60%;
  font-size: 40%;
  padding: 5px;
  border-radius: 50%;
  line-height: 1em;
  color: white;
  background: #ffa41d;
  text-align: center;
  min-width: 21px;
  font-family: 'Open Sans', sans-serif;
}

nav .shopping-cart-icon {
  font-size: 2rem;
}

nav .shopping-cart-icon:hover {
  color: #fcb12b;
}

/* Banner */

.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 0 3px 2px #777;
  -moz-box-shadow: 0 3px 2px #777;
  box-shadow: 0 3px 2px #777;
}

/* Filter Section */

.main-shopping {
  background-color: white;
}

.filter-bar {
  width: 90%;
  margin: auto;
}

.filter-section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.selections {
  padding: 1rem;
  width: 100%;
  -webkit-box-shadow: 0 3px 2px #777;
  -moz-box-shadow: 0 3px 2px #777;
  box-shadow: 0 3px 2px #777;
}

.selections select {
  margin-left: 3rem;
  padding: 0.5rem;
}

.selections button {
  margin: 0 3rem 0 3rem;
  border: none;
  padding: 0.5rem;
  background-color: #db5050;
  color: #fff;
}

.pets {
  display: flex;
}

.pets p {
  margin-right: 10px;
  border: none;
  background-color: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

/* Card Section */

.main-content {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  margin: auto;
}

.card-section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 1rem;
}

.card {
  width: 100%;
  margin: auto;
  padding: 1rem;
  -webkit-box-shadow: 0 3px 2px #777;
  -moz-box-shadow: 0 3px 2px #777;
  box-shadow: 0 3px 2px #777;
}

.card img {
  display: block;
  margin: auto;
  width: 70%;
}

.card .descriptions {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
}

.discount-ad {
  width: 70%;
  font-weight: 300;
  color: white;
  margin: auto;
  font-size: 12px;
  border-radius: 4px;
  background-color: #128ced;
  padding: 2.5px;
}

.rating {
  width: 70%;
  margin: auto;
}

.rating i {
  color: #ffa41d;
}

.card .descriptions p {
  margin: 0.25rem;
  font-weight: 600;
}

.card .descriptions :nth-child(2) {
  color: green;
  font-weight: 600;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 70%;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: #fba613;
  margin-top: 3px;
  color: white;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #f96813;
  transition: all 0.5s ease;
}

.free-shipping {
  width: 70%;
  margin: auto;
}

.free-shipping p {
  font-size: 12px;
  font-weight: 300;
}

footer {
  margin-top: 10px;
  padding: 2rem;
  height: 5vh;
  background-color: #3a3a3a;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

/* Mobile Styles */

@media (max-width: 69.125rem) {
  nav .search {
    display: none;
  }

  nav .shopping-cart {
    display: none;
  }

  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .selections select {
    margin: 0.75rem;
    width: 70%;
  }

  .filter-section {
    flex-direction: column;
  }
}

/* Shopping Cart */

.shopping-menu {
  position: relative;
}

.shopping-cart {
  display: none;
}

.shopping-cart {
  display: block;
  background-color: white;
  position: absolute;
  right: 5px;
  top: 7.8%;
  z-index: 1;
  padding: 20px;
  min-height: 400px;
  min-width: 600px;
  -webkit-box-shadow: 0 3px 2px #777;
  -moz-box-shadow: 0 3px 2px #777;
  box-shadow: 0 3px 2px #777;
}

.shopping-cart h2 {
  color: black;
  font-size: 11px;
}

.shopping-cart p {
  color: black;
}

.cart {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.clear-cart {
  width: 90%;
  margin: auto;
  padding: 7px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fba613;
  color: white;
  font-weight: bold;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.plus {
  color: green;
  font-size: 1.2rem;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  cursor: pointer;
}

.minus {
  color: red;
  font-size: 1.2rem;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  cursor: pointer;
}

.times {
  color: red;
  font-size: 1.2rem;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  cursor: pointer;
}

.qty {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.qty p {
  font-size: 1.2rem;
}

.total {
  width: 90%;
  margin: auto;
  padding: 9px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 29.75rem) {
  .card-section {
    grid-template-columns: 1fr;
  }
}
